#menuShowHide {
    position: absolute;
    left: -999em;
  }
  
  #mainMenu {
    list-style: none;
    text-align: center;
    padding: 0.25em 0;
    margin-bottom: 1em;
    background: #ace;
    border-bottom: 2px solid #248;
  }
  
  #mainMenu li {
    display: inline;
  }
  
  #mainMenu a {
    display: inline-block;
    padding: 0.25em 1em;
    text-decoration: none;
    color: black;
  }
  
  #mainMenu a:active,
  #mainMenu a:focus,
  #mainMenu a:hover {
    background: #F0F8FF;
  }

  @media screen and (max-width: 480px) {
    body {
      padding: 0;
    }
  
    #mainMenu {
      display: none;
      overflow: hidden;
      /* wrap floats and margins */
      padding: 0.25em;
      border-top: 2px solid #248;
    }
  
    #mainMenu li {
      float: left;
      width: 50%;
    }
  
    #mainMenu a {
      display: block;
      padding: 0.75em;
      margin: 0.25em;
      background: #DEF;
    }
  
    #menuShowHide + label {
      display: block;
      padding: 1em;
      margin-bottom: 1em;
      text-align: center;
      font-weight: bold;
      background: #036;
      color: white;
    }
  
    #menuShowHide + label:active,
  #menuShowHide + label:focus,
  #menuShowHide + label:hover {
      background: #06C;
    }
  
    #menuShowHide + label:before {
      content: "Show menu";
    }
  
    #menuShowHide:checked + label {
      margin: 0;
    }
  
    #menuShowHide:checked + label:before {
      content: "Hide Menu";
    }
  
    #menuShowHide:checked ~ #mainMenu {
      display: block;
    }
}